
img {
  padding-top: 70px;

/*  right: 44px;
  margin-left: 66px;
*/


/*  margin-left: 40%;
/*
 float: right;
left: -5%;
margin-left: 10px;
padding-top: 15%;
vertical-align: middle;
        */


}

button{

/*  margin-right:6px
*/
}

.c2{
  /*margin-right: 35%;
*/

      /*
      float:right;
    margin: auto;
  position: absolute;
    margin-top: -40%;
  margin-right: 25%;
  margin-left: 40%;


  */



}
